body {
	padding: 0 .5rem;
}
.r {
	float: right;
}
hr {
	border-style: solid none none!important;
	margin-bottom: .2rem;
}
input {
	margin: 0.3rem 0 0 .2rem;
	vertical-align: -2px;
}
input[type="button"] {
	padding: .4rem .8rem;
	float: right;
	margin: 0;
}
input[type="color"] {
	background: transparent;
	vertical-align: middle;
	height: 2rem;
	padding: 0;
	border: 0;
	margin: 0;
}
input[type="range"] {
	vertical-align: -.3rem;
	width: 12rem;
}
label:not(:last-child) input[type="radio"], a {
	margin-right: 1rem;
}
a {
	cursor: pointer;
}
input[name="lnk"] {
	margin-bottom: .2rem;
}
select {
	margin: .3rem 0 .3rem .2rem;
}
label {
	white-space: nowrap;
	display: block;
}
fieldset, hr {
	border: 1px solid #999;
}
fieldset {
	border-radius: .2rem;
	padding-top: .1rem;
	margin: 0 0 .3rem;
}
fieldset[name="uls"] {
	margin-top: .4rem;
}
fieldset[name="prfls"]+label,
fieldset[name="prfls"] label,
fieldset[name="uls"] label {
	display: inline;
}
fieldset[name="stylrs"] {
	padding: 0;
	border: 0;
}
fieldset:disabled {
	opacity: .5;
}
