html {
	font-size: 14px;
}
body {
	color: #444;
	margin: 1rem;
	font-size: 1rem;
	font-family: Arial, sans-serif;
}
label {
	display: block;
	white-space: pre;
	margin-top: .2rem;
}
input {
	color: #444;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 0;
	vertical-align: -2px;
}
input[type="range"] {
	margin: 0;
	width: 18rem;
	vertical-align: middle;
}
fieldset {
	padding: 0;
	font-size: .9rem;
	border-radius: .5rem;
	margin: .2rem 0 .5rem;
	border: 0 inset rgba( 183, 183, 183, 0.66 );
	font-family: Inconsolata, Consolas, monospace;
}
fieldset label {
	display: none;
}
#options.htmlbg #htmlbg,
#options.bodybg #bodybg,
#options.slctn #slctn,
#options.nrml #nrml,
#options.lght #lght,
#options.lnk #lnk,
#options.vha #vha {
	padding: .5rem;
	border-width: .15rem;
}
#options.htmlbg #htmlbg label,
#options.bodybg #bodybg label,
#options.slctn #slctn label,
#options.nrml #nrml label,
#options.lght #lght label,
#options.lnk #lnk label,
#options.vha #vha label {
	display: block;
}
#options.htmlbg #htmlbg input[type="button"],
#options.bodybg #bodybg input[type="button"],
#options.slctn #slctn input[type="button"],
#options.nrml #nrml input[type="button"],
#options.lght #lght input[type="button"],
#options.lnk #lnk input[type="button"],
#options.vha #vha input[type="button"] {
	display: none;
}
#uls {
	padding: .5rem;
	border-width: .15rem;
}
#uls label {
	display: inline;
}
#close {
	float: right;
}